body {
    background: url("../img/netflix-wallpaper.jpg") fixed;
    margin: 0;
}

@font-face {
    font-family: Bebus;
    src: url(../fonts/BebasNeue-Regular.otf);
    src: url(../fonts/BebasNeue-Regular.ttf);
}

* {
    color: white;
    font-family: Bebus, Impact, sans-serif;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100px;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    position: fixed;
}

header > div.container {
    display: flex;
    width: 100%;
    margin: auto 0;
    padding: 0 50px;
    align-items: center;
    height: inherit;
}

div.logo {
    flex: 1;
    border: none;
}

div.menu-container {
    flex: 2;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.764);
}

ul.ul-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

ul.ul-menu li a {
    font-size: 30px;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

div.best {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}

body > :nth-last-child(3) {
    padding-bottom: 130px!important;
}

div.container {
    position: relative;
    width: 1038px;
}

div.items-container{
    display: flex;
    gap: 10px;
}

.container .carousel img {
    border: 1px solid black;
    width: 250px;
    height: 370px
}

.container .carousel img:hover {
    border: 1px solid white;
    transition: border 0.5s ease-in-out;
}

#best-movie {
    width: 1000px;
    padding: 190px 0;
    margin: 0px auto;
    display: grid;
    align-items: center;
    grid-gap: 0px 80px;
    grid-auto-flow: column;
    grid-template-areas: "B A"
      "C A"
      "D A"
      "E A";
}

#best-movie > img {
    width: 350px;
    grid-area: A;
    box-shadow: 5px 5px 10px white;
}

#best-movie > h2 {
    grid-area: B;
    font-size: 120px;
    margin: 0px;
}

#best-movie > p {
    grid-area: C;
    font-size: 35px;
    margin: 5px auto;
}

#best-movie > button {
    grid-area: D;
    color: white;
    box-shadow: none;
    border-style: none;
    width: 120px;
    height: 60px;
    font-size: 22px;
    border-radius: 5px;
}

#best-movie > button.button-modal-infos {
    background-color: rgb(56, 54, 54);
    justify-self: flex-start;
    grid-area: E;
    cursor: pointer;
}

#best-movie > button.button-modal-infos:hover {
    background-color: rgb(42, 41, 41);
}

#best-movie > button.button-modal {
    background-color: darkred;
    justify-self: flex-start;
    cursor: pointer;
}

#best-movie > button.button-modal:hover {
    background-color: rgb(104, 4, 4);
}


/*CAROUSSEL*/
.carousel{
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.items-container{
    transition: transform 0.5s ease-in-out;
}

div.carousel-items {
    position: relative;
    cursor: pointer;
}

.nav > button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    border-style: solid;
    cursor: pointer;
}

.prev{
    left: -40px;
    border-width: 30px 25px 30px 0;
    border-color: transparent #ffffff9e transparent transparent;
    background-color: #00000008;
}

.next{
    right: -40px;
    border-width: 30px 0 30px 25px;
    border-color: transparent transparent transparent #ffffff9e;
    background-color: #00000008;
    transition: all 0.3s ease-in-out;
}

.prev:hover{
    border-color: transparent #fff transparent transparent;
}

.next:hover{
    border-color: transparent transparent transparent #fff;
}

/*FOOTER*/
footer {
    margin-top: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

footer p {
    text-align: center;
}

footer > a {
    text-align: center;
}

footer img {
    margin: 20px auto;
}

.css-validator {
    border: 0;
    width: 88px;
    height: 31px;
}
/*More-infos*/
.carousel-items:hover p.more-informations {
    visibility: visible;
}

p.more-informations {
    z-index: 2;
    visibility: hidden;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transition: visibility 0.2s ease-in-out;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px 1px black;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-column: auto;
    align-content: center;
}

.carousel-items::after {
    z-index: 2;
    visibility: hidden;
    content: "";
    background: #000000b8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: visibility 0.2s ease-in-out;
}

.carousel-items:hover::after {
    visibility: visible
}

/*Modal*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 1000px;
    height: auto;
    position: relative;
    margin: 8% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background-color: #000000;
}

.close {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(169, 25, 25);
    color: #FFFFFF;
    line-height: 45px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 44px;
    text-decoration: none;
    font-size: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: darkred;
}

#modal-content {
    padding: 30px;
    display: grid;
    grid-gap: 0px 50px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "A B"
      "A C"
      "A D"
      "A E"
      "A F"
      "A G"
      "A H"
      "A I"
      "A J"
      "A K"
      "A L";
}

#modal-content img {
    align-self: center;
    height: 440px;
}

#modal-content span {
    text-decoration: underline;
}
#modal-content > p{
    font-size: 15px;
}
#modal-content > p, h2 {
    margin: 5px 0;
}

#modal-content > #movie-image {
    grid-area: A;
    width: 300px;
}

#modal-content > h2 {
    grid-area: B;
    font-weight: 100;
}

#modal-content > p#movie-date {
    grid-area: C;
}

#modal-content > p#movie-genre {
    grid-area: D;
}

#modal-content > #movie-rate {
    grid-area: E;
}

#modal-content > #movie-score {
    grid-area: F;
}

#modal-content > #movie-directors {
    grid-area: G;
}

#modal-content > #movie-actors {
    grid-area: H;
}

#modal-content > #movie-duration {
    grid-area: I;
}

#modal-content > #movie-countries {
    grid-area: J;
}

#modal-content > #movie-votes {
    grid-area: K;
}

#modal-content > #movie-description {
    grid-area: L;
}

#modal-content > #movie-description span {
    display: block;
}